<lowbuy-slider></lowbuy-slider>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-2" *ngFor="let auction of auctions">
        <lowbuy-product-tile [title]="auction.title" [product]="auction.product['title']" [id]="auction._id"></lowbuy-product-tile>
    </div>
</div>

