.c-slider {
  background-image: url("/assets/our-examples/slider-example.png");
  background-size: cover;
  background-position: center;
  height: 500px;

    &__overlay {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      background: black;
      opacity: 0.4;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      text-align:center;
      color: white;

        &-title {
          font-size: 40px;
          font-weight: bold;

          @media (max-width: 575.98px) {
            font-size: 28px;
          }
        }

        &-subtitle {
          font-size: 28px;

          @media (max-width: 575.98px) {
            font-size: 20px;
          }
        }

        &-button {
          padding: 10px 20px;
          margin-top: 15px;
          transition: background 0.5s, color 0.5s;
          background: white;
          color: black;
          cursor: pointer;

          &:hover {
            background: black;
            color: white;
          }
        }
    }
}


