<div class="container">
  <div class="row">
    <div class="c-slider col-12">
      <div class="c-slider__overlay"></div>
      <div class="c-slider__content">
        <div class="c-slider__content-title">
          Lowbuy - Najlepsze aukcje w internecie
        </div>
        <div class="c-slider__content-subtitle">
          Już teraz zobacz naszą ofertę!
        </div>
        <div class="c-slider__content-button">
          KLIKNIJ TUTAJ
        </div>
      </div>
    </div>
  </div>
</div>
