.c-toolbar {
    width: 100%;
    height: 50px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);

    &__welcome {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;

        &-text {
            text-align: center;
        }

        @media(max-width: 578px) {
            grid-template-columns: 1fr;
            :nth-child(1) {
                display:none;
            }
        }
    }

    &__login {
        height: 100%;
        display: grid;
        grid-template-columns: auto minmax(110px, 150px);
        align-items: center;

        &-heart {
            height: 100%;
            text-align: right;
            padding: 0 30px 0 0;
            font-size: 2rem;
        }

        &-account {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            &-panel {
                border-radius: 15px;
                width: 100%;
                height: 80%;
                padding: 0 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
        }


    }
}