<div class="c-toolbar">
    <div class="c-toolbar__welcome">
        <span class="c-toolbar__welcome-text">Welcome to Our store Multikart</span>
        <span class="c-toolbar__welcome-text">
            <img src="../assets/images/icon/phone.png" alt="">
            Call us: 123-456-7890
        </span>
    </div>
    <div class="c-toolbar__login">
        <div class="c-toolbar__login-heart">
            
        </div>
        <div class="c-toolbar__login-account">
            <div class="c-toolbar__login-account-panel">
                <img src="../assets/images/icon/users.png" alt="">
                <span>My Account</span>
            </div>
        </div>
    </div>
</div>
