<div *ngIf="!(auction$ | async)">Loading...</div>
<div class="container" *ngIf="(auction$ | async) as auction">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <lowbuy-product-tile></lowbuy-product-tile>
            </div>
            <div class="col-6">
              <lowbuy-product-tile></lowbuy-product-tile>
            </div>
            <div class="col-6">
              <lowbuy-product-tile></lowbuy-product-tile>
            </div>
            <div class="col-6">
              <lowbuy-product-tile></lowbuy-product-tile>
            </div>
          </div>
        </div>



        <div class="col-6">
          <div>{{ auctionID$ | async }}</div>
          <div class="font-18">
            {{ auction.title }}
          </div>
          <div class="mt-2 font-15">
            {{ auction.description }}
          </div>

          <div class="mt-3 font-15">
            Cena
          </div>
          <button>Dodaj do koszyka</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
