.c-product-tile {
  padding-bottom: 30px;

  @media (max-width: 575.98px) {
    width: 80%;
    margin: 0 auto;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__details {
    margin-top: 15px;
    padding-left: 5px;
  }

  &__title {
    line-height: 1;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #777777;
  }

  &__price {
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.03em;
  }
}
