<a routerLink="{{ id }}" >
  <div class="c-product-tile">
    <img class="c-product-tile__img" src="assets/images/pro3/27.jpg" alt="">
    <div class="c-product-tile__details">
      <p class="c-product-tile__title">
        {{ title }}
      </p>
      <div class="c-product-tile__price">
        {{ product }}
      </div>
    </div>
  </div>
</a>

