<div class="c-product-slider container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <lowbuy-product-tile></lowbuy-product-tile>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <lowbuy-product-tile></lowbuy-product-tile>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <lowbuy-product-tile></lowbuy-product-tile>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <lowbuy-product-tile></lowbuy-product-tile>
    </div>
  </div>
</div>

