.c-parallax-banner {
    position:relative;
    width: 100%;
    height: 500px;
  
      &__image {
        background-image: url("/assets/our-examples/parallax-banner.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height:100%;
      }

      &__overlay {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background: black;
        opacity: 0.4;
      }
  
      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 30px;
        text-align:center;
        color: white;
        
      }
  }
  

  