<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="add-product">Dodaj produkt</a>
      <p>products worasdasdks!</p>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="">
              <b>Tytuł produktu</b>
            </div>
            <div class="">
              <b>Opis produktu</b>
            </div>
            <div class="">
              <b>Obsługa zdarzeń</b>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" *ngFor="let product of products">
          <lowbuy-products-list [title]="product.title" [description]="product.description"></lowbuy-products-list>
        </div>
      </div>
    </div>
  </div>
</div>



