<div class="page-wrapper">

  <!-- Page Header Start-->
  <div class="page-main-header">
    <div class="main-header-right row">
      <div class="main-header-left d-lg-none">
        <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="../assets/images/dashboard/multikart-logo.png" alt=""></a></div>
      </div>
      <div class="mobile-sidebar">
        <div class="media-body text-right switch-sm">
          <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
        </div>
      </div>
      <div class="nav-right col">
        <ul class="nav-menus">
          <li>
            <form class="form-inline search-form">
              <div class="form-group">
                <input class="form-control-plaintext" type="search" placeholder="Search.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
              </div>
            </form>
          </li>
          <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>
          <li class="onhover-dropdown"><a class="txt-dark" href="#">
            <h6>EN</h6></a>
            <ul class="language-dropdown onhover-show-div p-20">
              <li><a href="#" data-lng="en"><i class="flag-icon flag-icon-is"></i> English</a></li>
              <li><a href="#" data-lng="es"><i class="flag-icon flag-icon-um"></i> Spanish</a></li>
              <li><a href="#" data-lng="pt"><i class="flag-icon flag-icon-uy"></i> Portuguese</a></li>
              <li><a href="#" data-lng="fr"><i class="flag-icon flag-icon-nz"></i> French</a></li>
            </ul>
          </li>
          <li class="onhover-dropdown"><i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge">3</span><span class="dot"></span>
            <ul class="notification-dropdown onhover-show-div p-0">
              <li>Notification <span class="badge badge-pill badge-primary pull-right">3</span></li>
              <li>
                <div class="media">
                  <div class="media-body">
                    <h6 class="mt-0"><span><i class="shopping-color" data-feather="shopping-bag"></i></span>Your order ready for Ship..!</h6>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-body">
                    <h6 class="mt-0 txt-success"><span><i class="download-color font-success" data-feather="download"></i></span>Download Complete</h6>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-body">
                    <h6 class="mt-0 txt-danger"><span><i class="alert-color font-danger" data-feather="alert-circle"></i></span>250 MB trash files</h6>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
                  </div>
                </div>
              </li>
              <li class="txt-dark"><a href="#">All</a> notification</li>
            </ul>
          </li>
          <li><a href="#"><i class="right_side_toggle" data-feather="message-square"></i><span class="dot"></span></a></li>
          <li class="onhover-dropdown">
            <div class="media align-items-center"><img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="../assets/images/dashboard/man.png" alt="header-user">
              <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
            </div>
            <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
              <li><a href="#"><i data-feather="user"></i>Edit Profile</a></li>
              <li><a href="#"><i data-feather="mail"></i>Inbox</a></li>
              <li><a href="#"><i data-feather="lock"></i>Lock Screen</a></li>
              <li><a href="#"><i data-feather="settings"></i>Settings</a></li>
              <li><a href="#"><i data-feather="log-out"></i>Logout</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
      </div>
    </div>
  </div>
  <!-- Page Header Ends -->

  <!-- Page Body Start-->
  <div class="page-body-wrapper">

    <!-- Page Sidebar Start-->
    <div class="page-sidebar">
      <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="../assets/images/dashboard/multikart-logo.png" alt=""></a></div>
      </div>
      <div class="sidebar custom-scrollbar">
        <div class="sidebar-user text-center">
          <div><img class="img-60 rounded-circle lazyloaded blur-up" src="../assets/images/dashboard/man.png" alt="#">
          </div>
          <h6 class="mt-3 f-14">JOHN</h6>
          <p>general manager.</p>
        </div>
        <ul class="sidebar-menu">
          <li><a class="sidebar-header" [routerLink]="'/dashboard'" ><span>Dashboard</span></a></li>
          <li><a class="sidebar-header" [routerLink]="'/products'"> <span>Products</span></a></li>
          <li><a class="sidebar-header" [routerLink]="'/auctions'"> <span>Auctions</span></a></li>
        </ul>
      </div>
    </div>
    <!-- Page Sidebar Ends-->

    <!-- Right sidebar Start-->
    <div class="right-sidebar" id="right_side_bar">
      <div>
        <div class="container p-0">
          <div class="modal-header p-l-20 p-r-20">
            <div class="col-sm-8 p-0">
              <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
            </div>
            <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
          </div>
        </div>
        <div class="friend-list-search mt-0">
          <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
        </div>
        <div class="p-l-30 p-r-30">
          <div class="chat-box">
            <div class="people-list friend-list">
              <ul class="list">
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user.png" alt="">
                  <div class="status-circle online"></div>
                  <div class="about">
                    <div class="name">Vincent Porter</div>
                    <div class="status"> Online</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user1.jpg" alt="">
                  <div class="status-circle away"></div>
                  <div class="about">
                    <div class="name">Ain Chavez</div>
                    <div class="status"> 28 minutes ago</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user2.jpg" alt="">
                  <div class="status-circle online"></div>
                  <div class="about">
                    <div class="name">Kori Thomas</div>
                    <div class="status"> Online</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user3.jpg" alt="">
                  <div class="status-circle online"></div>
                  <div class="about">
                    <div class="name">Erica Hughes</div>
                    <div class="status"> Online</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/man.png" alt="">
                  <div class="status-circle offline"></div>
                  <div class="about">
                    <div class="name">Ginger Johnston</div>
                    <div class="status"> 2 minutes ago</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/user5.jpg" alt="">
                  <div class="status-circle away"></div>
                  <div class="about">
                    <div class="name">Prasanth Anand</div>
                    <div class="status"> 2 hour ago</div>
                  </div>
                </li>
                <li class="clearfix"><img class="rounded-circle user-image" src="../assets/images/dashboard/designer.jpg" alt="">
                  <div class="status-circle online"></div>
                  <div class="about">
                    <div class="name">Hileri Jecno</div>
                    <div class="status"> Online</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right sidebar Ends-->

    <div class="page-body">
      <router-outlet></router-outlet>
    </div>

    <!-- footer start-->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 footer-copyright">
            <p class="mb-0">Copyright 2019 © Multikart All rights reserved.</p>
          </div>
          <div class="col-md-6">
            <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end-->
  </div>

</div>
