<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="c-service row border-top border-bottom">
        <div class="col-12 col-sm-4 c-service__element c-service__element-border">
          <div class="c-service__element-image">
            <img class="c-service__element-icon" src="/assets/our-examples/truck.svg" alt="truck"/>
          </div>
          <div class="c-service__element-description">
            <div class="c-service__element-title">
              FREE SHIPPING
            </div>
            <div class="c-service__element-subtitle">
              Free shipping world wide
              <!-- <lowbuy-action-button>action-button</lowbuy-action-button> -->
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4 c-service__element c-service__element-border">
          <div class="c-service__element-image">
            <img class="c-service__element-icon" src="/assets/our-examples/comment.svg" alt="truck"/>
          </div>
          <div class="c-service__element-description">
            <div class="c-service__element-title">
              FREE SHIPPING
            </div>
            <div class="c-service__element-subtitle">
              Free shipping world wide
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4 c-service__element">
          <div class="c-service__element-image">
            <img class="c-service__element-icon" src="/assets/our-examples/clock.svg" alt="truck"/>
          </div>
          <div class="c-service__element-description">
            <div class="c-service__element-title">
              FREE SHIPPING
            </div>
            <div class="c-service__element-subtitle">
              Free shipping world wide
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
