.c-service {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__element {
    display: flex;
    padding-right: 15px;
    justify-content: center;
    align-items: center;

    @media (max-width: 575.98px) {
      padding-bottom: 20px;
    }

    &-title {
      font-size: 17px;
      font-weight: bold;

      @media (min-width: 992px) {
        font-size: 22px;
      }
    }

    &-subtitle {
      font-size: 16px;

      @media (min-width: 992px) {
        font-size: 19px;
      }
    }

    &-image {
      padding-right: 30px;

      @media (min-width: 768px) {
        padding-right: 0px;
        margin-right: 15px;
      }
    }

    &-icon {
      height: 50px;
    }

    &-border {

      @media (min-width: 768px) {
        border-right: 1px solid #dee2e6;
      }
    }
  }
}
