<p>add-product works!</p>
<a routerLink="/products">Go back</a>

<div class="col-xl-7">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form">
      <div class="form-group mb-3 row">
        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Title :</label>
        <input class="form-control col-xl-8 col-sm-7" id="validationCustom01" type="text" formControlName="title">
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="form">
      <div class="form-group row">
        <label class="col-xl-3 col-sm-4">Add Description :</label>
        <div class="col-xl-8 col-sm-7 pl-0 description-sm">
          <textarea id="editor1" name="editor1" cols="10" rows="4" description="title" formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div class="offset-xl-3 offset-sm-4">
      <button type="submit">Add</button>
      <button type="button">Discard</button>
    </div>
  </form>
</div>
