<div class="d-flex justify-content-between">
  <div class="">
    {{ title }}
  </div>

  <div class="">
    {{ description }}
  </div>

  <div class="">
    {{ product.title }}
  </div>

  <div class="">
    Sprawdź Produkt
  </div>
</div>

