<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="add-auction">Dodaj aukcje</a>
      <p>products worasdasdks!</p>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="">
              <b>Tytuł aukcji</b>
            </div>
            <div class="">
              <b>Opis aukcji</b>
            </div>
            <div class="">
              <b>Produkt Aukcji</b>
            </div>
            <div class="">
              <b>Obsługa zdarzeń</b>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12" *ngFor="let auction of auctions">
          <lowbuy-auctions-list [title]="auction.title" [description]="auction.description" [product]="auction.product"></lowbuy-auctions-list>
        </div>
      </div>
    </div>
  </div>
</div>



