<header>
  <div class="container">
    <lowbuy-toolbar></lowbuy-toolbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <div class="brand-logo">
              <a routerLink="/">
                <img
                  src="/assets/images/icon/logo.png"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <nav id="main-nav">
                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                  <li>
                    <a routerLink="auctions">Aukcje</a>
                  </li>
                  <li>
                    <a href="#">Sklep</a>
                  </li>
                  <li>
                    <a href="#">Jak to działa?</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div>
              <div class="icon-nav">
                <lowbuy-header-icon-nav></lowbuy-header-icon-nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
