.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}

@media (min-width: 768px) {

  .font-sm-11 {
    font-size: 11px;
  }
  .font-sm-12 {
    font-size: 12px;
  }
  .font-sm-13 {
    font-size: 13px;
  }
  .font-sm-14 {
    font-size: 14px;
  }
  .font-sm-15 {
    font-size: 15px;
  }
  .font-sm-16 {
    font-size: 16px;
  }
  .font-sm-17 {
    font-size: 17px;
  }
  .font-sm-18 {
    font-size: 18px;
  }
  .font-sm-19 {
    font-size: 19px;
  }
  .font-sm-20 {
    font-size: 20px;
  }
  .font-sm-21 {
    font-size: 21px;
  }
}
